<div class="container text-center div-add">
    <div class="addclient">
        <h5 class="alert alert-primary">Add client</h5>
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username :</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label for="password">password :</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group block-btn">
            <input type="submit" value="Add" class="form-control btn btn-success">
        </div>
    </form>
</div>